
    <div class="col s6 offset-s2">
        <div class="profile-info">
            <div class="row profile-header">
                {{#if user.profilePic}}
                <div class="profilePic">
                    <img src="{{user.profilePic}}" alt="profilePic" class="responsive-img circle small-profile-pic">
                </div>
                {{else}}
                <div class="profilePic">
                    <img src="/assets/blank-profile-circle.png" alt="profilePic" class="responsive-img circle small-profile-pic">
                </div>
                {{/if}}
                <h4>{{{user.userName}}}</h4>
            </div>
            
            <div class="stats">
                <span class="stats-item">Posts: {{posts.length}}</span>
                <span class="stats-item">Followers: {{user.followedBy.length}}</span>
            </div>
            <div class="stats">
                <p>{{user.bio}}</p>
            </div>
            <div>
                <a href="/profile/edit/{{user._id}}" class="btn">Edit Profile</a>
            </div>
            
        </div>

        <div class="divider"></div>

        <!-- User Posts -->
        {{#each posts}}
        <div class="col s3 user-posts">
            <a href="/post/{{_id}}">
                 <img src="{{image}}" class="responsive-img" alt="Post 2">
            </a>
           
        </div>
        {{/each}}

    </div>

    <div class="col s2">
            <div class="input-field">
                <input type="text" id="searchInput" class="validate" oninput="searchUsers()">
                <label for="searchInput">Search Users</label>
            </div>
    </div>
    
    <!-- Profile Info -->

    